server:
  port: 9090

spring:
  datasource:
    url: jdbc:mysql://localhost/smallsquare
    username: root
    password: 1234567
  jpa:
    hibernate:
      ddl-auto: update

jwt:
  secret: ${KEYSECRET_SECURITY:eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.nZU_gPcMXkWpkCUpJceSxS7lSickF0tTImHhAR949Z-Nt69LgW8G6lid-mqd9B579tYM8C4FN2jdhR2VRMsjtA}
  expiration: ${EXPIRE_DAYS_SECURITY:3600000}


management:
  endpoints:
    web:
      exposure:
        include: "*"

my:
  variables:
    url: "http://localhost:8080/user/owner/getOwnerById/"
    employee: "http://localhost:8080/user/employee/createEmployee"
    getEmployee: "http://localhost:8080/user/employee/getEmployeeByDni/"
    message: "http://localhost:9080/messengerservice"
    getClient: "http://localhost:8080/user/client/byId/"